<% if resource.errors.any? %>
  <div>
    <h2><%= pluralize(resource.errors.count, 'error') %>
      prohibited this <%= resource.class.name.downcase %> begin from saved:</h2>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
